.skills-section {
  padding: 100px 20px;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.skills-title {
  font-size: 48px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .skills-title {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .skills-section {
    padding: 80px 20px;
  }

  .skills-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(-5deg);
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: perspective(1000px) rotateX(-5deg) rotateY(0px);
  }
  to {
    transform: perspective(1000px) rotateX(-5deg) rotateY(360deg);
  }
}
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
